---
---
/* modify Bootstrap variables here */

@import 'bootstrap/bootstrap';

/* add additional CSS rules below */

  .bg-dark { 
    background-color: #568DC5 !important;
    padding-top: 1rem;
  }


  .nav-link { 
    align-text: center !important;
    color: #fff;
    font-weight: bold;
  }

  .nav-item { 
    align-text: left !important;
    color: #fff;
    font-weight: bold;
    padding-right: 0.3rem;
  }

  .nav-item:hover { 
    align-text: center !important;
    color: #fff;
    border-color: transparent;
    text-transform: none;
  }

  .nav-link-icon {
    align-text: left !important;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 450;
  }

  .nav-link:hover { 
    align-text: center !important;
    color: #fff;
    border-bottom: 2px;
  }

  .card-body {
    color: #fff;
    font-weight: bold !important;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .card-header {
    border-radius: 0 0 0.5rem 0.5rem !important;
  }

  .navbar-logo { 
    width: auto;
    height: 3.2rem;
    padding: 0.2rem;
    border-radius: 0.5rem
  }

  .BTC {
    width: 1.3rem;
    height: 1.3rem;
    padding: 0 1rem;
  }

  .ETH {
    width: 1.3rem;
    height: 1.3rem;
    padding: 0 1rem;
  }

  .LTC {
    width: 1.3rem;
    height: 1.3rem;
    padding: 0 1rem;
  }

  .XMR {
    width: 1.3rem;
    height: 1.3rem;
    padding: 0 1rem;
  }

