---
layout: default
title: HISTORICKÝ VÝVOJ CEN

---
<div class="container" style="min-height: 860px;">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">HISTORICKÝ VÝVOJ CEN</h1>
  </div>

  <div style="text-align: center;">
    <a class="display-12" style="padding:5px 25px;">6:00 AM</a>
    <a class="display-12" style="padding:5px 25px;">Bitcoin</a>
    <a class="display-12" style="padding:5px 25px;">Ethereum</a>
    <a class="display-12" style="padding:5px 25px;">Litecoin</a>
    <a class="display-12" style="padding:5px 25px;">Monero</a>
  </div>
<br>

{% for row in site.data.usd_historic_data %}
  <div style="text-align: center;">
  {% for pair in row %}
    <a class="display-12" style="padding:5px 25px;">{{ pair[1] }}</a>
  {% endfor %}
  </div>
{% endfor %}

</div>
